* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

address, area, article, aside, audio, blockquote, datalist, details, dl, fieldset, 
figure, form, input, iframe, img, meter, nav, ol, optgroup, option, output, p, pre, 
progress, ruby, section, table, textarea, ul, video {
    margin-bottom: 1rem;
}

blockquote {
    border-left: .4rem solid #AAAAAA;
    padding: .2rem .4rem;
    padding-left: 1rem;
}

blockquote p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: .8rem;
}

img {
    width: 100%;
    border: none;
    background: none;
}

p {
    line-height: 1.6rem;
}

a {
    color: #4A4A4A;
}

ol, ul {
    padding-left: 2rem;
}

table {
    max-width: 100%;
    border-collapse: collapse;
}

thead tr {
    background-color: #F0F0F0;
}

tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tbody tr:nth-child(even) {
    background-color: #F0F0F0;
}

thead th {
}

th, td {
    padding: 5px 10px;
    text-align: left;
}

hr {
    border: 0;
    border-bottom: 1px solid #d1c8ca;
    margin: 1rem auto;
    width: 100%;
}

html {
    font: 14px/1.5 "PingFang SC","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    background-color: #4A4A4A;
    color: #4A4A4A;
}

body {
    width: 760px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav.main {
    height: 2.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}

nav.main > a {
    margin: 0 .4rem;
    text-decoration: underline;
    color: #FFFFFF;
}

.container {
    padding: 20px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
}

.content > article {
    padding: 0 10px;
}

.posts {
    line-height: 2.2rem;
    font-size: 1.1rem;
}

.posts .date {
    color: #0070F2;
    font-family: "Courier New", Courier, monospace, monospace;
}

.posts a {
    font-weight: normal;
}

h1.title {
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .2rem;
    font-size: 2rem;
}


.highlight {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer {
    color: #4A4A4A;
    padding: 10px 0;
}

.footer i {
    font-size: 3rem;
}

.footer a {
    margin: 0 10px;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
