<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/highlight.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <script src="/assets/js/highlight.min.js"></script>
    <script>
        hljs.configure({
            cssSelector: 'pre code, p code, li code',
        });
        hljs.highlightAll();
    </script>
    {% if page.mathjax %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {% endif %}
</head>
<body>
    {% include nav.html %}
    <div class="container">
        <div class="content">
            {{ content }}
        </div>
        <hr>
        <div class="footer">
            <div class="center">
                <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</body>
</html>